@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Asap&family=Caveat&family=Comic+Neue:wght@400;700&family=Delicious+Handrawn&family=Kalam&family=Manrope&family=Pacifico&family=Poppins:wght@500;600&family=Quicksand:wght@400;500;600&family=Roboto+Slab:wght@400;500&family=Schibsted+Grotesk&display=swap");

.title {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}

.title-patient {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: var(--chakra-colors-teal-800);
}

.title-doctor {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: var(--chakra-colors-purple-800);
}

.title-hospital {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: var(--chakra-colors-yellow-800);
}

.p {
  color: gray;
  font-size: 13px;
}

.signupMain {
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
}

.signupMain > .left {
  min-width: 50%;
  height: inherit;
}

.signupMain > .right {
  min-width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupImg {
  height: 90%;
}

.left-patient {
  background-color: var(--p1);
}

.right-patient {
  background-color: var(--p0);
}

.left-doctor {
  background-color: var(--d4);
}

.right-doctor {
  background-color: var(--d1);
}

.left-hospital {
  background-color: var(--h4);
}

.right-hospital {
  background-color: var(--h1);
}

.rightAll {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 2rem;
}

.rightMain {
  min-width: 80%;
  /* min-height: 80%; */
  /* background-color: blue; */
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.2rem;
}

.heading {
  text-align: center;
  margin: 1.5rem 0;
  margin-top: 2rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 3rem;
  padding-left: 10px;
}

.form {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.selectionBox {
  max-width: 200px;
  padding-top: 20px;
}

.signupBtn {
  background: var(--chakra-colors-teal-400);
  color: var(--chakra-colors-teal-50);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 30%;
  min-width: 30%;
  transition: background 0.5s;
}

.signupBtn:hover {
  color: black;
}

.patient .signupBtn {
  background: var(--chakra-colors-teal-400);
}

.doctor .signupBtn {
  background: var(--chakra-colors-purple-400);
}

.hospital .signupBtn {
  background: var(--chakra-colors-yellow-500);
}

.signupBtn:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.googleContainer {
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}

.googleBtn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 50px;
  height: 80px;
  border: 1px solid;
  justify-content: center;
  padding: 12px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: background 0.5s;
}

.googleBtn:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.inp {
  border: 2px solid rgb(208, 208, 208);
  background-color: #f7fafc;
}

.link {
  color: blue;
}

@media screen and (max-width: 660px) {
  .signupMain > .left {
    display: none;
  }

  .signupBtn {
    width: 100%;
    max-width: 65%;
  }
}

.tabs {
  margin: 1.5rem 0;
  border-color: var(--chakra-colors-gray-300);
}

.tab.patientTab[aria-selected="true"] {
  color: var(--chakra-colors-teal-900);
}

.tab.doctorTab[aria-selected="true"] {
  color: var(--chakra-colors-purple-900);
}

.tab.hospitalTab[aria-selected="true"] {
  color: var(--chakra-colors-yellow-900);
}

.tabList {
  margin-bottom: 2rem;
}

.patient .icon {
  color: var(--chakra-colors-teal-700);
}

.doctor .icon {
  color: var(--chakra-colors-purple-700);
}

.hospital .icon {
  color: var(--chakra-colors-yellow-700);
}
