.main {
    display: flex;
    min-height: 100vh;
    min-width: 80%;
    justify-content: space-around;
    align-items: center;
    background-color: var(--p0);
    flex-direction: column;
}
.btns {
    background: var(--chakra-colors-teal-400);
  color: var(--chakra-colors-teal-50);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 10%;
  min-width: 10%;
  transition: background 0.5s;
}
.btns:hover {
    color: black;
}